doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 알랑챗
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    link(rel="stylesheet", href="/css/styles.css")
  body
    #app
    section 
      #nickname 
        form
          h3 닉네임: 
            span 닉네임을 입력하세요
          input(type="text", name="nickname", placeholder="닉네임을 입력하세요", required)
          button 설정
      #room 
        form
          h3 방 제목: 
            span 입장한 방 없음
            button(class="leaveButton normalButton displayNone", type="button") ❌
          input(type="text", name="room", placeholder="방 제목을 입력하세요", required)
          button 입장
        .roomList
          h4 방 목록
          ul
      #chat
        form
          ul 
          h3 채팅방
            span
          input(type="text", name="chat", placeholder="메시지를 입력하세요", required)
          button 전송
    script(src="/socket.io/socket.io.js")
    script(src="/public/js/app.js" type="module")