doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 알랑챗
    //- link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    link(rel="stylesheet", href="/css/styles.css")
  body
    #app
    section 
      #chat
        form
          ul 
          h3 채팅방
            span
          input(type="text", name="chat", placeholder="메시지를 입력하세요", required)
          button 전송
    script(src="/socket.io/socket.io.js")
    script(src="/public/js/app.js" type="module")