@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import "./components/Input.css";
@import "./components/Button.css";
@import "./components/FormCard.css";
@import "./components/ChatRoom.css";
@import "./components/RoomList.css";
@import "./components/Header.css";
@import "./components/WebCam.css";
@import "./components/VideoList.css";

* {
  box-sizing: border-box;
}

p {
  font-size: 1.1em;
}

body {
  padding: 16px;
}
