.roomList li {
  cursor: pointer;
  display: inline-block;
}

.roomList li:hover {
  opacity: 0.8;
}

.displayNone {
  display: none;
}

button.normalButton {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  margin-left: 5px;
}
