@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import "./components/Input.css";
@import "./components/Button.css";
@import "./components/FormCard.css";
@import "./components/ChatRoom.css";
@import "./components/RoomList.css";
@import "./components/Header.css";
@import "./components/WebCam.css";
@import "./components/VideoList.css";
@import "./compounds/Settings.css";
@import "./compounds/SideBar.css";

* {
  box-sizing: border-box;
}

p {
  font-size: 1.1em;
}

body {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

#app {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 230px 1fr 2fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "header header header"
    "sidebar camAndChat room";
  gap: 5px;
}
